---
	import Layout from "../layouts/Layout.astro"
---

<Layout title="Landing Tesla" >
	<main>
		<!-- Seba-Hero-Section -->
		<header>

		</header>
		<section>

		</section>

		<!-- Fran-Section -->
		<section>
			
		</section>

		<!-- Nahu Section -->
		<section>

		</section>

		<!-- Grupal-->
		<footer>

		</footer>
	</main>
</Layout>


