---
import Layout from "../layouts/Layout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Header from "../components/Header.astro";
import SectionProducts from "../components/SectionProducts.astro";
import TitleCyber from "../svg/TitleCyber.astro";
---

<Layout title="Tesla - Argentina">
  <Header />

  <main
    id="main"
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto"
  >
    <!-- Seba-Hero-Section -->

    <section
      data-header-color="white"
      id="hero"
      class="landing-section snap-center w-full h-dvh relative"
    >
      <video
        class="absolute w-full h-full object-cover"
        muted
        autoplay
        loop
        id="video"
      >
        <source
          src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto/Homepage-Model-Y-Promo-Desktop-v2.mp4"
        />
      </video>
      <div
        id="containerHero"
        class="flex flex-col justify-end py-40 px-12 absolute h-full w-full text-white max-2xl:p-16 max-sm:px-6 max-sm:py-10 backdrop-brightness-75"
      >
        <header>
          <h1
            class="animate-fade-right text-[40px] w-full font-normal mb-5 leading-tight max-md:text-3xl max-sm:text-[28px]"
          >
            Modelo Y desde $37,490 <br />
            después del crédito fiscal federal
          </h1>
          <p
            class="animate-fade-right w-full max-w-[50ch] font-medium max-sm:text-sm"
          >
            Los compradores elegibles califican para un crédito fiscal federal
            de $7,500. Aplicado en el momento de la entrega del Modelo Y. <a
              class="underline"
              href="/"
            >
              Ver detalles</a
            >
          </p>
        </header>

        <footer class="mt-10 flex flex-wrap gap-4">
          <ButtonPrimary
            href="/"
            class="bg-white/90 text-black/90"
            content="Disponible en Tienda"
          />

          <ButtonPrimary
            href="/"
            class="bg-black/90 text-white"
            content="Unidad de Demostración"
          />
        </footer>
      </div>
    </section>

    <SectionProducts
      title="Modelo Y"
      subtitle="Desde $31,490"
      description="Después del crédito fiscal federal y el cálculo estimado."
      colorHeader="black"
      class="bg-model-y max-md:bg-model-y-mob max-md:bg-top"
    />

    <SectionProducts
      title="Modelo 3"
      subtitle="Desde $38,990"
      description="Est. Subtítulo de arrendamiento antes del ahorro de gasolina"
      colorHeader="black"
      class="bg-model-3 max-md:bg-model-3-mob max-md:bg-top"
    />

    <SectionProducts
      title="Modelo X"
      subtitle="Desde $63,990"
      description="Después del crédito fiscal federal y el cálculo estimado."
      colorHeader="black"
      class="bg-model-x max-md:bg-model-x-mob max-md:bg-top"
    />

    <SectionProducts
      title="Modelo S"
      subtitle="Desde $66,490"
      description="Después de Est. Ahorro de gasolina"
      colorHeader="white"
      class="bg-model-s max-md:bg-model-s-mob max-md:bg-top"
    />

    <SectionProducts
      class="bg-model-cybertruck max-md:bg-model-cybertruck-mob max-md:bg-top"
      colorHeader="black"
    >
      <slot slot="svg">
        <TitleCyber class="h-44 w-[620px] max-sm:w-80" />
      </slot>
    </SectionProducts>

    <SectionProducts
      title="Paneles Solares"
      description="Programe una consulta virtual"
      colorDescription="text-white text-sm"
      colorTitle="text-white"
      colorHeader="white"
      class="bg-solar-panels text-white max-md:bg-solar-panels-mob max-md:bg-top"
    />

    <SectionProducts
      title="Techo Solar"
      description="Produzca energía limpia desde su techo"
      colorDescription="text-sm"
      colorHeader="black"
      class="bg-solar-roof max-md:bg-solar-roof-mob max-md:bg-top"
    />

    <SectionProducts
      title="Pared Electrica"
      class="bg-powerwall max-md:bg-powerwall-mob max-md:bg-top"
    />

    <SectionProducts
      title="Accesorios"
      class="bg-accessories max-md:bg-accessories-mob max-md:bg-top"
      colorHeader="black"
    >
      <slot slot="button">
        <ButtonPrimary
          href="/"
          class="bg-white/90 text-black/90"
          content="Ir a Tienda"
        />
      </slot>
    </SectionProducts>

    <footer
      id="contact"
      class="landing-section snap-end w-full h-full flex justify-center pt-36"
    >
      <div
        class="w-full flex justify-start items-center flex-col max-w-[1240px] px-6"
      >
        <header class="mb-14 w-full text-start">
          <h6 class="text-4xl font-normal">Contacto</h6>
        </header>

        <footer class="flex w-full gap-4 max-sm:flex-wrap">
          <div class="w-full flex flex-col">
            <div class="flex flex-col gap-2 mb-6 text-base opacity-70">
              <span class="font-semibold">Soporte de Tesla</span>
              <a class="underline" href=""
                >información sobre llamadas e revisión</a
              >
            </div>
            <div class="flex flex-col gap-2 mb-6 text-base opacity-70">
              <span class="font-semibold">Bolsa de Trabajo</span>
              <span>
                <a class="underline" href="">Visita nuestra página de empleo</a>
                para obtener una lista de las oportunidades de trabajo actuales</span
              >
            </div>
            <div class="flex flex-col gap-2 mb-6 text-base opacity-70">
              <span class="font-semibold"
                >Equipos de respuesta a emergencias</span
              >
              <span
                ><a class="underline" href=""
                  >Visita nuestra página de primeros auxilios</a
                > para descargar las guías de referencia de Tesla para el personal
                de emergencia.</span
              >
            </div>
          </div>

          <div class="w-[50%]">
            <div class="flex w-full flex-col gap-2 mb-6 text-base opacity-70">
              <span class="font-semibold">Prensa</span>
              <span>Continente Americano</span>
              <a class="underline" href="">press@tesla.com</a>
              <span>Europa y el Medio Oriente</span>
              <a class="underline" href="">eupress@tesla.com</a>
              <span>Australia y Asia</span>
              <a class="underline" href="">apacpress@tesla.com</a>
              <span>China</span>
              <a class="underline" href="">china-press@tesla.com</a>
            </div>
          </div>
        </footer>

        <form id="form" method="post" action="" class="w-full snap-end py-20">
          <header class="mb-14 w-full text-start">
            <h6 class="text-3xl font-normal">Rellene el Formulario</h6>
          </header>

          <div
            class="grid w-full grid-cols-auto-form max-xl:grid-cols-auto-responsive gap-10 mb-10"
          >
            <span class="flex flex-col">
              <label
                class="font-semibold mb-3 text-base opacity-70"
                for="nombre">Nombre:</label
              >
              <input
                placeholder="Juan Perez"
                class="border-b-2 focus:border-black focus:outline-none"
                type="text"
                id="nombre"
                name="nombre"
              />
            </span>

            <span class="flex flex-col">
              <label class="font-semibold mb-3 text-base opacity-70" for="mail"
                >Email:</label
              >
              <input
                placeholder="juanperez@gmail.com"
                class="border-b-2 focus:border-black focus:outline-none"
                type="email"
                id="mail"
                name="mail"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              />
            </span>

            <span class="flex flex-col">
              <label
                class="font-semibold mb-3 text-base opacity-70"
                for="telefono">Teléfono:</label
              >
              <input
                class="border-b-2 focus:border-black focus:outline-none"
                type="tel"
                id="telefono"
                name="telefono"
                placeholder="Cód Área + Num Celular"
              />
            </span>

            <span class="flex flex-col">
              <label
                class="font-semibold mb-3 text-base opacity-70"
                for="modelo">Modelo:</label
              >
              <select
                class="border-b-2 focus:border-black focus:outline-none"
                id="modelo"
                name="modelo"
                required
              >
                <option value="">Seleccione un modelo</option>
                <option value="modelo1">Modelo S</option>
                <option value="modelo2">Modelo 3</option>
                <option value="modelo3">Modelo X</option>
                <option value="modelo4">Modelo Y</option>
                <option value="modelo5">Modelo Cybertruck</option>
              </select>
            </span>

            <span class="flex flex-col">
              <label
                class="font-semibold mb-3 text-base opacity-70"
                for="comentarios">Comentarios:</label
              >
              <textarea
                placeholder="Agregue un comentario"
                class="border-b-2 resize-none focus:border-black focus:outline-none"
                id="comentarios"
                name="comentarios"
                rows="3"></textarea>
            </span>
          </div>

          <button
            class="w-[260px] bg-black/90 text-white animate-fade-up max-sm:w-full max-sm:text-sm max-sm:py-[10px] backdrop-blur-lg inline-block text-center py-[8.5px] min-w-48 rounded-md font-medium"
          >
            Enviar
          </button>
          <p class="text-red-500 pt-5" id="warnings"></p>
        </form>
        <span class="snap-end py-8 w-full text-center text-sm"
          >Landing Page Tesla © 2024 - Proyecto CAC | Desarrollado por <a
            class="font-semibold"
            target="_blank"
            href="https://www.linkedin.com/in/sebastian-perezz/"
            >Sebastian Perez</a
          > & <a
            class="font-semibold"
            target="_blank"
            href="https://www.linkedin.com/in/javiercerd%C3%A1/">Javier Cerdá</a
          ></span
        >
      </div>
    </footer>
  </main>
</Layout>
<style is:global>
  section {
    scroll-snap-align: start;
  }
  input,
  textarea,
  select {
    padding: 0px 8px;
    height: 50px;
  }
</style>

<script>
  const form = document.querySelector("#form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();

    const nombre = document.querySelector("#nombre") as HTMLInputElement;
    const telefono = document.querySelector("#telefono") as HTMLInputElement;
    const mail = document.querySelector("#mail") as HTMLInputElement;
    const parrafo = document.querySelector("#warnings") as HTMLElement;
    let warnings = "";
    let entrar = false;
    parrafo.innerHTML = "";
    if (nombre.value.length < 6) {
      nombre.classList.add("border-red-600");
      warnings += "El Nombre no es valido (Minimo de Caracteres = 6) <br>";
    } else {
      nombre.classList.remove("border-red-600");
    }

    if (telefono.value.length < 10) {
      telefono.classList.add("border-red-600");
      warnings += "El Telefono no es valido (Minimo de Caracteres = 10) <br>";
    } else {
      telefono.classList.remove("border-red-600");
    }

    let validEmail = /^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/;
    if (!validEmail.test(mail.value)) {
      mail.classList.add("border-red-600");
      warnings +=
        "El Mail no es valido (Ingresar en formato name@gmail.com)  <br>";
      entrar = true;
    } else {
      mail.classList.remove("border-red-600");
    }

    if (entrar) {
      parrafo.innerHTML = warnings;
    } else {
      parrafo.innerHTML = "Enviado";
      parrafo.style.color = "green";
    }
  });
</script>
