---
import Layout from "../layouts/Layout.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Header from "../components/Header.astro";
import SectionProducts from "../components/SectionProducts.astro";
import TitleCyber from "../svg/TitleCyber.astro";
---

<Layout title="Landing Tesla">
  <Header />
  <main id="main" class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <!-- Seba-Hero-Section -->

    <section id="hero" class="snap-center w-full h-dvh relative">
      <video
        class="absolute w-full h-full object-cover"
        muted
        autoplay
        loop
        id="video"
      >
        <source
          src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto/Homepage-Model-Y-Promo-Desktop-v2.mp4"
        />
      </video>
      <div
        id="containerHero"
        class="flex flex-col justify-end py-40 px-12 absolute h-full w-full text-white max-2xl:p-16 max-sm:px-6 max-sm:py-10 backdrop-brightness-75"
      >
        <header>
          <h1
            class="text-[40px] w-full font-normal mb-5 leading-tight max-md:text-3xl max-sm:text-[28px]"
          >
            Modelo Y desde $37,490 <br />
            después del crédito fiscal federal
          </h1>
          <p class="w-full max-w-[50ch] font-medium max-sm:text-sm">
            Los compradores elegibles califican para un crédito fiscal federal
            de $7,500. Aplicado en el momento de la entrega del Modelo Y. <a
              class="underline"
              href="/"
            >
              Ver detalles</a
            >
          </p>
        </header>

        <footer class="mt-10 flex flex-wrap gap-4">
          <ButtonPrimary
            href="/"
            class="bg-white/90 text-black/90"
            content="Disponible en Tienda"
          />

          <ButtonPrimary
            href="/"
            class="bg-black/90 text-white"
            content="Unidad de Demostración"
          />
        </footer>
      </div>
    </section>

    <!-- <section id="carrusel2" class="block w-full h-screen relative">
      <video
        class="absolute w-full h-full object-cover"
        muted
        autoplay="true"
        loop
        id="video"
      >
        <source
          src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto/Homepage-Model-Y-Promo-Desktop-v2.mp4#t=0.01#t=0.01"
        />
      </video>
      <div
        class="flex flex-col justify-end py-40 px-12 absolute h-full w-full text-white"
      >
        <header>
          <h1 class="text-[40px] w-max font-semibold mb-5 leading-tight">
            Model Y Starting at $37,490 <br /> After Federal Tax Credit
          </h1>
          <p class="w-[66ch] font-medium">
            Eligible buyers qualify for a $7,500 federal tax credit. Applied at
            time of Model Y <br /> delivery. <a class="underline" href="/"
              >See Details</a
            >
          </p>
        </header>

        <footer class="mt-10">
          <ButtonPrimary
            class="bg-white/90 text-black/90"
            href="/"
            content="Shop Available"
          />

          <ButtonPrimary
            href="/"
            class="bg-black/90 text-white/90"
            content="Demo Drive"
          />
        </footer>
      </div>
    </section> -->

    <SectionProducts
      title="Modelo Y"
      subtitle="Desde $31,490"
      description="Después del crédito fiscal federal y el cálculo estimado."
      class="bg-model-y max-md:bg-model-y-mob max-md:bg-top"
    />

    <SectionProducts
      title="Modelo 3"
      subtitle="Desde $38,990"
      description="Est. Subtítulo de arrendamiento antes del ahorro de gasolina"
      class="bg-model-3 max-md:bg-model-3-mob max-md:bg-top"
    />

    <SectionProducts
      title="Modelo X"
      subtitle="Desde $63,990"
      description="Después del crédito fiscal federal y el cálculo estimado."
      class="bg-model-x max-md:bg-model-x-mob max-md:bg-top"
    />

    <SectionProducts
      title="Modelo S"
      subtitle="Desde $66,490"
      description="Después de Est. Ahorro de gasolina"
      class="bg-model-s max-md:bg-model-s-mob max-md:bg-top"
    />

    <SectionProducts
      class="bg-model-cybertruck max-md:bg-model-cybertruck-mob max-md:bg-top"
    >
      <slot slot="svg">
        <TitleCyber class="h-44 w-[620px] max-sm:w-80" />
      </slot>
    </SectionProducts>

    <SectionProducts
      title="Paneles Solares"
      description="Programe una consulta virtual"
      colorDescription="text-white text-sm"
      colorTitle="text-white"
      class="bg-solar-panels text-white max-md:bg-solar-panels-mob max-md:bg-top"
    />

    <SectionProducts
      title="Techo Solar"
      description="Produzca energía limpia desde su techo"
      colorDescription="text-sm"
      class="bg-solar-roof max-md:bg-solar-roof-mob max-md:bg-top"
    />

    <SectionProducts
      title="Pared Electrica"
      class="bg-powerwall max-md:bg-powerwall-mob max-md:bg-top"
    />

    <SectionProducts
      title="Accesorios"
      class="bg-accessories max-md:bg-accessories-mob max-md:bg-top"
    >
      <slot slot="button">
        <ButtonPrimary
          href="/"
          class="bg-white/90 text-black/90"
          content="Ir a Tienda"
        />
      </slot>
    </SectionProducts>

    <footer></footer>
  </main>
</Layout>
<style is:global>
  section {
    scroll-snap-align: start;
  }
</style>
