---
const { href, target } = Astro.props;
---

<li
  class="w-6 flex items-center justify-center"
>
  <a
  target={target}
  class="hover:bg-gray-300
  hover:rounded-[4px]
  hover:bg-clip-padding
  hover:backdrop-filter
  hover:backdrop-blur-sm
  hover:bg-opacity-40 px-1 py-1" href={href}> <slot /></a>
</li>
