---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tesla is accelerating the world's transition to sustainable energy with electric cars, solar and integrated renewable energy solutions for homes and businesses.">
    <meta name="viewport" content="width=device-width" />
    <link rel="image_src" href="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Social-US.jpg">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/free-tesla-3521840-2945257.png?f=webp">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="body">
    <slot />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    color-scheme: light;
  }
</style>
